// Nav Start
nav.navbar.navbar-expand-lg.navbar-light.theme-nav.fixed-top
  .container
    a.navbar-brand(href='index.html')
      img(src='assets/images/logo.png', alt='logo')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.default-nav
      ul#mymenu.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.active(href=inner+'#home') الصفحة الرئيسية
        li.nav-item
          a.nav-link(href=inner+'#about') حول
        li.nav-item
          a.nav-link(href=inner+'#feature') خاصية
        li.nav-item
          a.nav-link(href=inner+'#screenshot') لقطة شاشة
        li.nav-item
          a.nav-link(href=inner+'#team') الفريق
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href=inner+'#blog', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') مدونة
          ul.dropdown-menu
            li.nav-item
              a.nav-link(href='blog.html') قائمة بلوق
            li.nav-item
              a.nav-link(href='blog-details.html') تفاصيل بلوق
            li.nav-item
              a.nav-link(href='blogs-leftside.html') الشريط الجانبي الأيسر
            li.nav-item
              a.nav-link(href='blogs-rightside.html') الشريط الجانبي الأيمن
            li.nav-item
              a.nav-link(href='blog-details-with-leftsidebar.html') تفاصيل اليسار الشريط الجانبي
            li.nav-item
              a.nav-link(href='blog-details-with-rightsidebar.html') تفاصيل حقوق الحقوق
        li.nav-item
          a.nav-link(href=inner+'#price', data-menuanchor='price') السعر
        li.nav-item
          a.nav-link(href=inner+'#contact', data-menuanchor='contact') اتصل بنا
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') صفحة اخرى
          ul.dropdown-menu
            li.nav-item
              a.nav-link(href='sign-in.html') تسجيل الدخول
            li.nav-item
              a.nav-link(href='sign-up.html') سجل
            li.nav-item
              a.nav-link(href='forget-pwd.html') نسيت كلمة المرور
            li.nav-item
              a.nav-link(href='thank-you.html') شكرا لكم
            li.nav-item
              a.nav-link(href='review.html') إعادة النظر
            li.nav-item
              a.nav-link(href='404.html') 404
            li.nav-item
              a.nav-link(href='faq.html') التعليمات
            li.nav-item
              a.nav-link(href='download.html') تحميل
// Nav end
